{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% block body %}
<!-- ======= Header ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h4>Add Files</h4>
        <ol>
          <li><a href="home">Home</a></li>
          <li>Add Files</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->
  <!-- ======= file upload Section ======= -->
  <style>
     form{
        
        margin : 10px 20px 10px 10px;

        
     }
      h3.htag{
        border-radius: 5px;
        background-color: #ee3d3d;
        text-align: center;

      }
      .container1{
        border-radius: 5px;
        border: 3px solid #f5f3f7; 
        width : 60%;
        margin : 10px 150px 10px 250px;
      }
      .form-group{
          margin:10px 20px 10px 10px;
      }
     
  </style>
  <div class="container1">

      <h3 class="htag">Upload Credit Card Dataset</h3>
      <form action="dashboard" method ="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">   
      <label  >File Name</label>
      <input type="text" name="FileName" class="form-control" placeholder="File Name" required>
      </div>
      <div class="form-group">
      <label class="label" for="">Upload Credit Card Dataset file </label>
      <input type="file" name="UCCD" class="form-control">
      </div>
      <div class="form-group">
      <label for="exampleFormControlTextarea1">DESCRIPTION</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group">
      <button type="submit" class="form-control btn btn-primary submit px-3">Submit</button>
      </div>
    </form>
  </div>
{% endblock body %}

<!--<div class="alert_0">-->
<!--      <strong>Request Project!</strong> For other projects contact us.-->
<!--    Charges as per level of the project.-->
<!--    </div>-->
<!--<div class="alert_0">-->
<!--      <strong>Request Project!</strong> For other projects contact us.-->
<!--    Charges as per level of the project.-->
<!--    </div>-->
<!--</div>